<div class="container d-flex">
  <div class="row">
    <h2><%- accommodation.name -%></h2>
    <h2><%- accommodation.type -%></h2>
    <h2><%- accommodation.address -%></h2>
    <h2><%- accommodation.phoneNumber -%></h2>
    <h2><%- accommodation.email -%></h2>
    <h2><%- accommodation.resNum -%></h2>
  </div>
</div>