<div class="container d-flex flex-column px-2 pb-2 mb-4 bg-secondary-subtle border rounded">
    
  <div class="align-items-baseline text-wrap flex-wrap">
    <p id="stopName" class="align-self-baseline m-0 fs-3 fw-bold text-info"><%- stop.stopName -%></p>
  </div>
  
  <div class="d-flex flex-column border-bottom border-black flex-wrap pb-2 mb-2">
      <div class="d-inline-flex text-wrap flex-wrap me-4">
        <label for="stopAdd" class="fw-bold me-2">Address:</label>
        <p id="stopAdd" class="align-self-baseline my-0 fs-6"><%- stop.address -%></p>
      </div>
      <div class="d-flex flex-row">
        <div class="d-inline-flex text-wrap flex-wrap me-4">
          <label for="arrival" class="fw-bold me-2">Arrival:</label>
          <p id="arrival" class="align-self-baseline my-0 fs-6"><%- stop.arrival -%></p>
        </div>
        
        <div class="d-inline-flex text-wrap flex-wrap me-4">
          <label for="departure" class="fw-bold me-2">Departure:</label>
          <p id="departure" class="align-self-baseline my-0 fs-6"><%- stop.departure -%></p>
        </div>
      </div>
  </div>

  <div class="d-inline-flex text-wrap flex-wrap">
    <label for="interest" class="fw-bold me-2">Interest Level:</label>
    <p id="interest" class="align-self-baseline my-0 fs-6"><%- stop.interest -%></p>
  </div>
  
  <div class="d-inline-flex text-wrap flex-wrap me-4">
    <label for="transportation" class="fw-bold me-2">Phone Number:</label>
    <p id="transportation" class="align-self-baseline my-0 fs-6"><%- stop.transportation -%></p>
  </div>
  
  <div class="d-flex flex-row text-wrap flex-wrap">
    <label for="stopRes" class="fw-bold me-2">Reservation/Confirmation Number: </label>
    <p id="stopRes" class="align-self-baseline my-0 fs-6"><%- stop.resNum -%></p>
  </div>
  
  <div class="d-inline-flex text-wrap flex-wrap">
    <label for="stopNotes" class="fw-bold me-2">Notes:</label>
    <p id="stopNotes" class="align-self-baseline my-0 fs-6 text-wrap"><%- stop.notes -%></p>
  </div>
  <%- include('./modal_partials/edit_stops_partial.ejs') %>
</div>