<div class="container-fluid p-0">
  <div id="recentTripsContainer" class="container mt-5">
      <div id="recentTitleContainer" class="container d-flex flex-row justify-content-between">
          <h2 class="mb-0">Recent Itineraries</h2>
      </div>
      <div id="tripsCarouselContainer" class="container overflow-auto d-flex flex-row align-items-center border-top border-bottom" style="max-height: min-content;">
              <% if (user.trips.length) { %>
              <% user.trips.forEach(trip => { %>
                <a href="/users/<%= user.id %>/trips/<%= trip.id %>" class="text-decoration-none">
                    <div class="card bg-light m-1" style="width: 10rem; height: 8rem;">
                        <div class="card-header text-center fw-bold"><%= trip.tripName %></div>
                        <div class="card-body">
                          <h6 class="card-title text-center m-0 fw-lighter"><%= trip.startDate %></h6>
                          <h6 class="card-title text-center m-0 fw-lighter">-</h6>
                          <h6 class="card-title text-center m-0 fw-lighter"><%= trip.endDate %></h6>
                        </div>
                    </div>
                </a>
              <% })} else { %>
                  <p>User has no trips!</p>
              <% } %>
      </div>
      <% if (user.trips.length) { %>
        <div class="container d-flex flex-row-reverse">
            <p class="m-0"><a href="/users/<%= user.id %>/trips">View All Trips</a></p>
        </div>
      <% } %>
    </div>
  </div>