<%- include('../partials/top_body_partial.ejs') %>

<div id="currTripContainer" class="container d-flex flex-column justify-content-center mt-5 rounded border" style="max-width: 40rem;">
    <div class="container col text-center p-2">
        <h2 class="m-0"><%= trip.tripName %></h2>
        <p class="m-0"><%= trip.startDate %> - <%= trip.endDate %></p>
    </div>
</div>

<!-- full trip details container -->
<div class="container-fluid d-flex flex-column align flex-wrap align-bottom">
    <h3 class="text-center my-4">Trip Details</h3>

    <!-- basic trip details container -->
    <div id="trip-details-container" class="container d-flex flex-row border rounded flex-wrap justify-content-around pt-3" style="max-width: 45rem; font-size: 1.2rem;">
      <div class="container d-inline-flex flex-column flex-wrap justify-content-between">
        <div class="col d-inline-flex flex-row p-0 flex-wrap">
          <h5 class="align-self-baseline me-2">Destination: </h5>
          <p class="align-self-baseline text-wrap"><%- trip.destination -%></p>
        </div>

        <div class="col d-inline-flex flex-row p-0 flex-wrap">
          <h5 class="align-self-baseline me-2">Address:</h5>
          <p class="align-self-baseline text-wrap"><%- trip.address -%></p>
        </div>
      </div>

      <div class="container justify-content-between d-flex flex-row flex-wrap border-top pt-2">
        <div class="d-inline-flex flex-row p-0 flex-wrap">
          <h5 class="align-self-baseline me-2">Travelers:</h5>
          <p class="align-self-baseline"><%= trip.guests %></p>
        </div>

        <div class="d-inline-flex flex-row p-0 flex-wrap">
          <h5 class="align-self-baseline me-2">Reason:</h5>
          <p class="align-self-baseline"><%= trip.reason %></p>
        </div>

        <div class="d-inline-flex flex-row p-0 flex-wrap">
          <h5 class="align-self-baseline me-2">Transportation:</h5>
          <p class="align-self-baseline"><%= trip.transportation %></p>
        </div>
      </div>
    </div>
    <%- include('../partials/modal_partials/edit-trip-partial') %>

    <!-- accommodations container -->
    <div id="accommodations-container" class="container d-flex flex-column border rounded flex-wrap justify-content-around pt-3 mb-3 text-start" style="max-width: 45rem; font-size: 1rem;">
      <!-- accommodations header -->
      <div class="container d-inline-flex flex-row flex-wrap justify-content-between border-bottom mb-2 px-0">
        <h3 class="align-self-baseline">Accommodations: <%- trip.accommodations.length -%></h3>
        <%- include('../partials/modal_partials/add_accommodation_partial') %>
      </div>

      <!-- accommodations index -->
      <div>
        <% if (trip.accommodations.length > 0) { %>
          <% for (accommodation of trip.accommodations) { %>
                <%- include('../partials/accommodations_partial.ejs') -%> 
          <% } %>
        <% } else { %>
                <p>No Accommodations</p>
        <% } %>
      </div>

    </div>

    <!-- stops container -->
    <div id="stops-container" class="container d-flex flex-column border rounded flex-wrap justify-content-around pt-3 mb-3" style="max-width: 45rem; font-size: 1rem;">
      <!-- stops header -->
      <div class="container d-inline-flex flex-row flex-wrap justify-content-between border-bottom mb-2 px-0">
        <h3 class="align-self-baseline">Stops: <%= trip.stops %></h3>
        <a href="" class="text-decoration-none align-self-baseline">Add Stop Details</a>
      </div>

      <!-- stops index -->
      <div>
        <% if (trip.stops.length > 0) { %>
          <% for (stop of trip.stops) { %>
                <%- include('../partials/stops_partial.ejs') -%> 
          <% } %>
        <% } else { %>
                <p>No stops</p>
        <% } %>
      </div>
    </div>

    <!-- packLists container -->
    <div id="packLists-container" class="container d-flex flex-column border rounded flex-wrap justify-content-around pt-3 mb-3" style="max-width: 45rem; font-size: 1rem;">
      <!-- packLists header -->
      <div class="container d-inline-flex flex-row flex-wrap justify-content-between border-bottom mb-2 px-0">
        <h3 class="align-self-baseline">Packing List: <%= trip.packingLists %></h3>
        <a href="" class="text-decoration-none align-self-baseline">Add Packing Lists</a>
      </div>

      <!-- packLists index -->
      <div>
        <% if (trip.packLists.length > 0) { %>
          <% for (accommodation of trip.packLists) { %>
                <%- include('../partials/packLists_partial.ejs') -%> 
          <% } %>
        <% } else { %>
                <p>No Packing List</p>
        <% } %>
      </div>
      
    </div>


</div>

<%- include('../partials/bottom_and_footer_partial.ejs') %>